/* Establecer el color de fondo del cuerpo */
body {
    background-color: #3789d6;
    font-family: Arial, sans-serif;
}

/* Estilo para encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para párrafos */
p {
    color: #666;
    line-height: 1.6;
}

/* Estilo para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para botones */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para contenedores */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(35, 199, 211);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}